<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Videos</title>
    <link rel="stylesheet" href="/css/alumnos.css">
</head>

<body>
    <a href="/nuevo">Agregar Nuevo</a>
    <h1>Mi lista de musiquita</h1>
    <%- include('video/videoList', {videos: videos}); %>
</body>

</html>